:root {
	--yellow-color: yellow;
	--white-color: white;
	--value: 2rem;
}

body {
	background-color: rgb(46, 46, 46);
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	font-size: calc(var(--value) * 1.5);
	display: inline-flexbox;
	color: var(--yellow-color);
}

h1::before {
	content: url(../blog/0541.png);
	display: inline-block;
	width: calc(var(--value) * 1.5);
	height: calc(var(--value) / 2);
}

h1::after {
	content: url(../blog/0541.png);
	display: inline-block;
	width: calc(var(--value) * 1);
	height: calc(var(--value) / 2);
}


img {
	width: calc(var(--value) * 10);
	height: calc(var(--value) * 15);
	float: left;
	border-radius: calc(var(--value) / 1);
}

section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	padding-inline-start: calc(var(--value) / 1.5);
	color: var(--white-color);
	margin: calc(var(--value) / 0);
}

section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	padding-inline-start: calc(var(--value) / 1.5);
	color: var(--white-color);
	margin: calc(var(--value) / 0);
}

li {
	list-style: none;
	margin-inline-start: calc(var(--value) * -1.25);
}

h3 a {
	display: inline-flexbox;
	padding: calc(var(--value) / 4) calc(var(--value) / 4);
	color: rgb(7, 88, 0);
	background-color: rgb(255, 208, 0);
	border-radius: calc(var(--value) / 8);
	font-weight: 800;
	text-decoration: none;
}


footer h3 a:hover {
	display: inline-flexbox;
	padding: calc(var(--value) / 2) calc(var(--value) / 2);
	color: rgb(255, 251, 0);
	background-color: rgb(153, 0, 120);
	border-radius: calc(var(--value) / 8);
	font-weight: 800;
	text-decoration: none;
	transition: 1s;
}
