#section_serif {
    font-family: serif;
    background: linear-gradient(#e75c5c62, #9198e5);
    padding: 0.1rem 1rem;
}
header > h1 {
    background-position: center;
    background-size: 150%;
    background-color: palegoldenrod;
    border-color: indigo;
    color: darkgreen;
    font-weight: 800;
    font-size: 300%;
    text-align: center;
    text-shadow: 1px 1px rgb(15, 15, 15), 0 0 1em rgb(255, 94, 1);
}

h2 {
    background: linear-gradient(#e66465, #9198e5);
    border-block-end: seagreen;
    padding: 0.2rem;
    color: darkblue;
    text-align: center;
    text-transform: none;
    font-weight: 900;
    font-style: italic;
    background-size: cover;
}

#section_cursive > figure{
    font-family: serif;
    background-position: bottom;
    background-image: url('./images.jpg');
    background-repeat: repeat;
}

#section_monospace {
    font-family: serif;
    background: linear-gradient(#20eb0e5b, #9198e5);
    border: 1px solid rgb(34, 111, 255);
    padding: 0.1rem 1rem;
    margin: 1rem 0;
}

#section_fantasy {
    font-family: serif;
    background: linear-gradient(#d8db295b, #9198e5);
    border: 1px solid rgb(34, 111, 255);
    padding: 0.1rem 1rem;
    margin: 1rem 0;
}
#section_cursive {
    font-family: serif;
    background: linear-gradient(#d368c560, #9198e5);
    border: 1px solid rgb(34, 111, 255);
    padding: 0.1rem 1rem;
    margin: 1rem 0;
}

footer > h3 > a {
    background-color: rgb(255, 136, 0);
    border-block-end: seagreen;
    padding: 0.2rem;
    text-decoration: mediumblue;
    text-transform: none;
    font-weight: 900;
    font-style: italic;
    background-size: cover;
    
}

